  body {
    overflow-y: hidden;
    background-color: #ddd;
    margin: 0px;
  }
  /*Header*/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
  }
  .header-logo {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
  }

  .header-logo .title {
    font-family:  'Roboto', sans-serif;
    color: #333;
    font-size: 20px;
    margin-left: 10px;
  }

  .header-logo img {
    width: 50px;
  }

  .header-nav {
    flex: 1;
    text-align: right;
  }

  .header-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header-menu-item {
    margin-left: 20px;
    cursor: pointer;
  }
  
  .header-search {
    flex: 1;
    text-align: right;
  }
  
  .header-search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  #toggle-mode {
    font-size: 24px;
    border: 0px solid #ddd;
    cursor: pointer;
    background-color: transparent;
    color: #222;
  }
  
  @media (max-width: 600px) {
    .header-nav, .header-search {
      display: none;
    }
    .header-logo {
      width: 50px;
    }
    .header-search input {
      width: 50px;
    }
  } 

  /*Mobile View*/
  .emulator-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    height: calc(100vh - 131px);
    overflow-y: scroll;
    margin-top: 1px;
    flex-direction: row;
    width: 100%;
  }
  
  .emulator-item {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px;
  }
  
  .emulator-icon {
    width: 80px;
    height: auto;
    border-radius: 20px;
    border: 1px solid transparent;
  }
  
  .emulator-info {
    padding: 15px;
  }
  
  .emulator-title {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 1em;
    color: #222;
  }
  
  .emulator-developer {
    font-family: 'Roboto', sans-serif;
    margin: 5px 0;
    font-size: 0.8em;
    color: #333;
  }

  .emulator-version {
    font-family: 'Roboto', sans-serif;
    margin: 5px 0;
    font-size: 0.8em;
    color: #333;
  }
  
  .emulator-status {
    font-family: 'Roboto', sans-serif;
  }

  /*Buttons*/
  .install-button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    margin: 10px;
    display: flex;
  }
  
  .install-button.filled {
    font-family:  'Roboto', sans-serif;
    text-decoration: none;
    background-color: #222;
    color: #fff;
  }
  
  .install-button.filled:hover {
    background-color: #222;
  }
  
  .install-button.empty {
    font-family:  'Roboto', sans-serif;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #222;
    color: #ddd;
  }
  
  .install-button.empty:hover {
    background-color: #222;
    color: #ddd;
  }

  /*icons*/
  .fa-download {
    margin-right: 5px;
  }
  .fa-sun.hidden{
    display: none;
  }

  .fa-moon.hidden{
    display: none;
  }

  /* Copyright */
  .copyright {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: #fff;
  }
  .copyright-text {
    font-family:  'Roboto', sans-serif;
    color: #222;
  }

  .fa-github  {
    color: #222;
  }

  /*Dark Mode*/
  body.dark-mode {
    background-color: #333;
  }
  .dark-mode .copyright,
  .dark-mode .emulator-item,
  .dark-mode .header {
    background-color: #222;
  }
  .dark-mode .emulator-title,
  .dark-mode .emulator-version,
  .dark-mode .emulator-developer,
  .dark-mode .header-logo h1,
  .dark-mode .copyright-text,
  .dark-mode .copyright-text .fa-github,
  .dark-mode #toggle-mode {
    color: #ddd;
  }

  .dark-mode .install-button.filled {
    background-color: #ddd;
    color: #222;
  }
  .dark-mode .install-button.filled:hover {
    background-color: #ccc;
    color: #333;
  }